html, body {
  height: 100%;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
a,
.btn {
  color: #fff;
}

* {
  outline: none;
}

.btn:hover {
  background-color: #535353;
}

#canvas {
  width: 100%;
  height: 100%;
  background: #0e0e0e;
}

.btn {
  border-radius: 5px;
  background: unset;
  border: none;
  cursor: pointer;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background: #323232;
}

button.btn {
  width: 54px;
  height: 54px;
}

.tool-bar {
  position: fixed;
  top: 40px;
  left: 0;
  height: 65px;
  padding: 0 15px;
  z-index: 1;
}

#play-pause-btn svg {
  height: 40px;
}

#box-btn {
  position: relative;
}

#box {
  display: none;
  position: absolute;
  border: 2px solid black;
  border-bottom: none;
  width: 100px;
  right: 0px;
  top: -2px;
  transform: translate(100%);
}

#box-btn:hover #box {
  display: block;
}

#box button {
  background-color: unset;
  color: #fff;
  border: none;
  width: 100%;
  text-align: start;
  font-size: 12px;
  padding: 5px;
  padding-left: 10px;
  font-family: monospace;
  border-bottom: 1px solid black;
  background: #323232;
  cursor: pointer;
}

#box button:hover {
  background-color: #535353;
}

.btn svg {
  width: 50px;
}

.sliders-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 40px;
  right: 10px;
  user-select: none;
}

.sliders {
  background: #323232;
  padding: 5px 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-radius: 5px;
  margin-bottom: 10px;
  width: fit-content;
}

.slider {
  margin: 5px 0;
}

.slider label {
  color: #DCDCDC;
  margin-right: 10px;
  font-size: 15px;
}

input {
  background: #252525;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 3px;
  width: 50px;
}

.info-bar {
  background-color: #323232;
  color: #A0A0A0;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  font-size: 12px;
  border-top: 2px solid black;
  font-family: monospace;
  pointer-events: none;
  padding: 6px;
  user-select: none;
}

.links {
  user-select: none;
  position: fixed;
  bottom: 7px;
  right: 5px;
  font-size: 12px;
  font-family: monospace;
}

.links * {
  color: #A0A0A0;
}

/* Menu bar */

.menu-bar {
  position: fixed;
  background: #323232;
  width: 100%;
  display: flex;
  padding: 0 10px;
  color: #A0A0A0;
  align-items: center;
  border-bottom: 2px solid black;
  z-index: 2;
  user-select: none;
  font-size: 14px;
}

.menu-bar > * {
  margin-right: 10px;
}

.menu {
  cursor: pointer;
  padding: 6px 5px;
  position: relative;
}

.menu__list {
  display: none;
  top: 14px;
  left: -1px;
  position: absolute;
  background: #323232;
  z-index: 4;
  border: 2px solid black;
  list-style: none;
  padding: 3px 0;
}

.sub-menu__list {
  display: none;
}

.menu__list li:hover .sub-menu__list {
  display: block;
  background: #323232;
  border: 2px solid black;
  position: absolute;
  left: 250px;
  padding: 3px 0;
  top: 24px;
}

.menu:hover .menu__list {
  display: block;
}

.menu__list li {
  padding: 5px 0;
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.menu-bar input {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 6px;
  width: auto;
}

.shortcut {
  font-size: 12px;
}

.menu__list li:hover:not(.disabled) {
  background-color: #595959;
}

li.disabled {
  cursor: default;
}

.menu:hover {
  background-color: #595959;
}

.window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #323232;
  border: 2px solid black;
  padding: 10px;
}

.window p, .window li {
  color: #c3c3c3;
}

.window .close-btn {
  position: absolute;
  right: 10px;
  color: #A0A0A0;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 724px) {
  .info-bar {
    height: 30px;
  }
  .links {
    left: 5px;
    text-align: left;
  }
}
